*{
    margin: 0;
    padding: 0; 
    font-family: 'Times New Roman', Times, serif; 
}
.formcontainer{
    width: 70vh;

}
.bg-container{
    background-color:white(47, 43, 43);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
   
}
.background{
    background-color: rgb(9, 166, 168);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 5px 5px black;

}
input{
    margin: 10px;


}
body{
    background-color: rgb(149, 107, 175);
}
label{
    font-weight: bold;
}

.formstyle{
    height: 10px;
    bottom: 0px;
    border-radius: 5px;
    padding: 5px;
}

.submitbutton{
    width: 60px;
    height: 30px;
    border-radius: 12px;
    border: 0px;
    background-color: rgb(13, 10, 10);
    color: white;
}